html, body {
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	width: 100%;
}

#landing-page {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    /* display: none; */
}

#main-page {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    display: none;
}

.landingcontent {
  padding: 50px 100px 0px 100px;
}

.maincontent {
    /* padding-top: 40px; */
    padding-bottom: 40px;
    /*display: none;*/
    width: 100%;
}

.main-visualization {
  padding-top: 32px;
  padding-bottom:32px;
}

.card-title{
  margin-bottom: 0;
}
.card-text{
  margin-bottom: 0;
}
.card-body{
  padding-top: 8px;
  padding-bottom: 8px;
}

.tutorial-button {
  position: absolute;
  z-index: 20;
  right: 10vw;
  bottom: -20px;
}

@media (min-width: 992px) {
  .modal-dialog {
    max-height: 90% ;
    max-width: 90%;
  }
}

/* #GRE-verbal{
  color: #CC0000;
}
#GRE-quantitative{
  color: #FF0000;
}
#GRE-writing{
  color: #FF9999;
}
#GPA{
  color: #5BE500;
}
#Major{
  color: #62D119;
}
#Institution-Rank{
  color: #A8E57F;
}
#Country{
  color: #8900E5;
}
#Personal-Statement{
  color: #AD33FF;
}
#Diversity-Score{
  color: #D699FF;
} */

.carousel {
  text-align: center;
}

.carousel-inner {
  width: 80%;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: grey;
}

.square {
  height: 18px;
  width: 10px;
  border-radius: 5px;
  display: inline-block;
  vertical-align:  text-top;
  margin-right: 10px;
}

.attribute-title{
  font-weight: 900;
  font-size: 25px;
}

.attribute-title2{
  font-weight: 900;
  font-size: 20px;
}

.attribute{
  display: inline-block;
}

.instruction{
  text-align: center;
  color: #383838;
  font-size: 20px;
}

.tooltip2 {
    /*border-bottom: 1px dotted black;*/
    text-decoration: none;
    width: auto;
    display: inline-block;
}

#startButton{
  margin-top: 20px;
  margin-bottom: 0px;
}

.chart_div {
  max-width: 100%;
}

#result{
  font-size: 22px;
	font-weight: 600;
}

.footnote {
    margin-top: 5px;
    font-size: 14px;
}
