
html, body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	height: 4px;
	border-radius: 2px;
	background: #d3d3d3;
	outline: none;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #8080FF;
	cursor: pointer;
}
    
.slider::-moz-slider-thumb {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #8080FF;
	cursor: pointer;
}

.slider::-ms-fill-lower {
	background-color: #8080FF;
}

div.sli {
	position: relative;
	top: 9px;
}

.black {
	color: black
}

#landing-page {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    /* display: none; */
}

#main-page {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    display: none;
    height: 100vh;
}

.landingcontent {
  padding: 50px 100px 0px 100px;
}

.maincontent {
    /* padding-top: 40px; */
    padding-bottom: 20px;
    display: none;
    width: 100%;
}

.main-visualization {
  /* height: 95vh; */
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  /* padding: 0 !important; */
  /* margin: 0 !important; */

}


.black {
  color: black
}


#footnote {
    font-style: italic
}

.loader {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 150px;


    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: hidden;
    z-index: 10;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tooltip2 {
    border-bottom: 1px dotted black;
}


.interaction-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 530px);
    /* height: 100%; */
}

.result-container{
  background-color: white;
  position: sticky;
  bottom: 0px;
  z-index: 20;
}
