
html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 100%;
}

.card {
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom:  40px;
}

.studentCards{
  width: auto;
  overflow-x: auto;
  white-space: nowrap;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* #landing-page {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    display: none;
}

#main-page {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    display: none;
}

.landingcontent {
  padding: 50px 100px 0px 100px;
}

.maincontent {
    padding-bottom: 40px;
    display: none;
    width: 100%;
}

.main-visualization {
  padding-top: 32px;
  padding-bottom:32px;
} */
