html, body {
	font-family: 'Questrial', sans-serif;
	font-size: 16px;
	width: 100%;
}

#landing-page {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    /* display: none; */
}

#main-page {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    display: none;
}

.landingcontent {
  padding: 50px 100px 0px 100px;
}

.maincontent {
    /* padding-top: 40px; */
    padding-bottom: 40px;
    /*display: none;*/
    width: 100%;
}

.main-visualization {
  padding-top: 32px;
  padding-bottom:32px;
}


.card-title{
  margin-bottom: 0;
}
.card-text{
  margin-bottom: 0;
}
.card-body{
  padding-top: 8px;
  padding-bottom: 8px;
}


.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: grey;
}


.square {
  height: 18px;
  width: 10px;
  border-radius: 5px;
  display: inline-block;
  vertical-align:  text-top;
  margin-right: 10px;
}

.attribute-title{
  font-weight: 900;
  font-size: 25px;
}

.attribute{
  display: inline-block;
}

.instruction{
  text-align: center;
  color: #383838;
  font-size: 20px;
}

#startButton{
  margin-top: 20px;
  margin-bottom: 0px;
}
