body {
  font-family: 'Questrial', sans-serif;
	font-size: 18px;
	width: 100%;
}

#landing-page {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    display: none;
}

#main-page {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    display: none;
}

#startButton{
  margin-top: 20px;
  margin-bottom: 0px;
}

.landingcontent {
  padding: 50px 100px 0px 100px;
}

.maincontent {
    /* padding-top: 40px; */
    padding-bottom: 40px;
    display: none;
    width: 100%;
}

.main-visualization {
  padding-top: 32px;
  padding-bottom:32px;
}


.loader {
    /* position: absolute; */
    display: none;
    left: 0;
    right: 0;
    bottom: 0px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    z-index: 10;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tooltip2 {
    /*border-bottom: 1px dotted black;*/
    text-decoration: none;
    width: auto;
    display: inline-block;
}

/*.interaction-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 330px);
}*/

.square {
  height: 18px;
  width: 10px;
  border-radius: 5px;
  display: inline-block;
  vertical-align:  text-top;
  margin-right: 10px;
}

.result-container{
  /* background-color: white;
  position: sticky;
  bottom: 0px;
  z-index: 20; */
}

.tutorial-button {
  position: absolute;
  z-index: 20;
  right: 10vw;
  bottom: 50px;
}

@media (min-width: 992px) {
  .modal-dialog {
    max-height: 90% ;
    max-width: 90%;
  }
}

#result{
  font-weight: 600;
  text-align: center;
  width: 600px;
  margin: 60px auto 30px auto;
  padding: 20px 10px;
  background-color: rgba(0,0,0,.03);
  font-size: 24px;
}


.slider {
	-webkit-appearance: none;
	height: 4px;
	border-radius: 2px;
	background: #d3d3d3;
	outline: none;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #8080FF;
	cursor: pointer;
}

.slider::-moz-slider-thumb {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: #8080FF;
	cursor: pointer;
}

.slider::-ms-fill-lower {
	background: #8080FF;
}

.ui-slider .ui-slider-handle{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

.instruction{
  text-align: center;
  color: #ad0000;
  font-size: 20px"
}

.attribute-title{
  font-weight: 900;
  font-size: 22px;
}

.attribute-title2{
  font-weight: 900;
  font-size: 20px;
}

.footnote {
    margin-top: 5px;
    font-size: 14px;
}
